md-content(id="content")
	md-card(class="md-whiteframe-8dp")
		div(class="logo")
			span(layout="row" layout-align="center") D
		div(class="title")
			span(layout="row" layout-align="center") Log in to your account
		form(name="loginForm" novalidate)
			md-input-container(class="md-block")
				input(type="email" ng-model="login.email" placeholder="Email")
			md-input-container(class="md-block")
				input(type="password" ng-model="login.password" placeholder="Password")

			md-button(class="md-raised md-accent md-block" ng-click="facebookLogin()") LOG IN


style.
	md-content{
		background-image: url(images/march.jpg);
		background-size: cover;
		height:100%;
	}
	.logo {
		background-color: rgb(0, 150, 136);
		width: 128px;
		height: 128px;
		line-height: 128px;
		font-size: 86px;
		font-weight: 500;
		margin: 32px auto;
		color: #FFF;
		border-radius: 2px;	
	}

	.md-whiteframe-8dp {
	    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12);
	}	

	md-card{
		margin:18px;
	}

	form{
		margin:24px;
	}

	form .md-button{
		width: 90%;
		margin:16px auto;
		display: block;
	}

	.title {
	    font-size: 17px;
	    /* margin: 16px 0 32px; */
	}	